Azure Data Factory/Pipeline to Copy selected files with Transformations/CopySelectedFilePipeline.json
{
    "name": "pl_copy_select_files_with_metadata",
    "properties": {
        "description": "Use Metadata activity to filter the files that need to be copied to destination container/folder",
        "activities": [
            {
                "name": "ac_getmetadata_adlsg2_source",
                "description": "Read the file details from the source folder",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_source_api_meta",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "ac_foreach_metadata_file",
                "description": "Loop thru each item of the metadata output childitems",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "ac_getmetadata_adlsg2_source",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('ac_getmetadata_adlsg2_source').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "ac_if_foreach_item_select",
                            "description": "If the item starts with 'Fact' string use the copy activity to copy the item file",
                            "type": "IfCondition",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@startswith(item().name, 'Fact')",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "ac_copy_selected_item",
                                        "description": "if the condition is true copies the item to destination",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "DelimitedTextSource",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSReadSettings",
                                                    "recursive": true,
                                                    "enablePartitionDiscovery": false
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextReadSettings"
                                                }
                                            },
                                            "sink": {
                                                "type": "DelimitedTextSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextWriteSettings",
                                                    "quoteAllText": true,
                                                    "fileExtension": ".txt"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "ds_parameterized_source",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "filename": {
                                                        "value": "@item().name",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "ds_reporting",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "filename": {
                                                        "value": "@item().name",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "ac_df_transform",
                "description": "Transform the csv data in the destination folder",
                "type": "ExecuteDataFlow",
                "dependsOn": [
                    {
                        "activity": "ac_foreach_metadata_file",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataflow": {
                        "referenceName": "df_transform_data",
                        "type": "DataFlowReference"
                    },
                    "compute": {
                        "coreCount": 8,
                        "computeType": "General"
                    },
                    "traceLevel": "Fine"
                }
            }
        ],
        "variables": {
            "pl_var": {
                "type": "String"
            },
            "newvar": {
                "type": "String"
            },
            "myvar": {
                "type": "String",
                "defaultValue": "variable("
            },
            "testvar": {
                "type": "String",
                "defaultValue": "rrrrrrrrrrr"
            },
            "newtst": {
                "type": "String"
            },
            "newtest": {
                "type": "String"
            },
            "relativeurl": {
                "type": "String"
            },
            "parsedUrlVar": {
                "type": "String"
            },
            "mmmmmmm": {
                "type": "String"
            }
        },
        "annotations": []
    }
}